body{    
    background-color:#f7f7f7;
}

#control-bar{
    margin:15px 0px 15px 15px;
    text-align: left;
}

.tardis{
    background-color:#f9f9f9;
    margin:0px 20px 5px 20px;
    -moz-box-shadow: 1px 1px 1px #c0c0c0;
    -webkit-box-shadow: 1px 1px 1px #c0c0c0;
    box-shadow: 1px 1px 1px #c0c0c0;    
    height: 300px;
    border: 1px solid #c0c0c0;
}

.timeline-event-icon{
    margin-left:-5px;
}

.debug{
    border-width: 3px;
    border-color: red;
    border-style: solid;
    /*background: rgba(0, 0, 0, 0.6)*/
}

        #debugPanel {
	    background-color:#c0c0c0;
	    color: orange;
            font-family: 'Lucida Sans Unicode', Arial, sans-serif;
            font-size: 11px;
            line-height: 25px;
            margin:20px;
	    width:300px;
        }

        .rounded {
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
